<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', '#' %></li>
    <li><%= link_to 'Portfolio', '#' %></li>
    <li><%= link_to 'Services', '#' %></li>
    <li><%= link_to 'Love Letters', '#' %></li>
    <li><%= link_to 'Blog', '#' %></li>
    <li><%= link_to 'Connect', '#' %></li>
    <li> <%= link_to 'Sandbox', sandbox_path %> </li>
  </ul>
</nav>
